{% extends 'core/base.html' %}
{% block body_block %}

<div class="sidenav">
    <a href="{% url 'core:genresPage' %}">Genres</a>
    <a href="{% url 'core:authorsPage' %}">Authors</a>
    <a href="{% url 'core:collab' %}">See what others are reading</a>
</div>

<div class="container main">
    <form action="{% url 'core:authorsPage' %}" method='post'>
        {%csrf_token%}
        <h1>Select the authors:</h1>
        {% for a in authorNodes %}
        <div class="form-check form-check-inline" action="{% url 'core:authorsPage' %}">
            <input class="form-check-input" type="checkbox" name="authors" id="{{a.name}}" value="{{a.name}}">
            <label class="form-check-label" for="{{a.name}}">{{a.name}}</label>
        </div>
        {% endfor %}
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </div>
    </form>
    <div class="row container">
        {% for book in books %}
        <div class="col-4">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src="{{book.2}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{book.0}}</h5>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Author: {{book.1.name}}</a>
                    {% for g in book.3 %}
                    <a href="#" class="card-link">Genre: {{g.name}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>

</div>
{%endblock%}